<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247962472519-liv8k4oq07qfd3jdv5chhg3j01s7360o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247962472519-liv8k4oq07qfd3jdv5chhg3j01s7360o</string>
	<key>API_KEY</key>
	<string>AIzaSyAUvKArJTHx8Nn-w8irylVklbDi-xqiJLw</string>
	<key>GCM_SENDER_ID</key>
	<string>247962472519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-8bfab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-8bfab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247962472519:ios:f23b50fe7b7cbe16946162</string>
</dict>
</plist>